body {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  /*word-wrap: break-word;*/
  margin: 0;
  min-height: 100vh;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 70vw;
  margin: 0 15vw;
}

.search {
  margin: 2em 5em 0;
}
input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5em;
  line-height: 1.5em;
  width: 100%;
  display: inline-block;
  padding: 1em 2em;
}

textarea,
input,
input,
.uneditable-input {
  border: solid 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border: solid 4px #0049d7;
  outline: 0 none;
}

#query {
  padding: 0.5rem 1rem;
  color: black;
}

.til-list {
  font-size: 1.25em;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  list-style: none;
  text-align: left;
}

.til-div li {
  margin: 1em;
}

.til-div a {
  text-decoration: none;
  color: #333333;
}

.til-div a:hover {
  color: #0049d7;
  text-decoration: underline;
}

.til-div a:focus,
.til-div a:active {
  color: #000000;
}

.til-div a:visited {
  color: #6b389b;
}

.hidden {
  display: none;
}

.sidebar {
  background: #f0f0f0;
  padding: 1em 1em;
  min-height: 100%;
}

@media only screen and (max-width: 1599px) {
  .search {
    margin: 2em 2em 0;
  }

  .sidebar h1 {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 999px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 100vw;
    margin: 0;
  }

  .query-div input,
  #query {
    font-size: 1.3em;
    width: 100%;
  }

  .til-div h1 {
    font-size: 1.2rem;
    margin: 0 0 1em;
  }
}
